<!DOCTYPE html>
<html lang="en">

<!-- including head -->
<%- include("../includes/admin/head"); %>

<body>
  
  <div class="wrapper">

    <div class="container-fluid cntnr-f">

      <div class="row">

        <div class="col-lg-2">
  
          <!-- including sidebar -->
          <%- include("../includes/admin/sidenav"); %>
  
        </div> <!-- col-lg-2 -->
  
        <div class="col-lg-10">

          <div class="title text-center mt-3"> <h1>Create item</h1> </div> <!-- div.title -->

          <div class="row">

            <div class="col-lg-2"></div> <!-- col-lg-2-->

            <div class="col-lg-8 mt-5 form-back">

              <form method="post" action="admin/create-item">

                <div class="mb-3">
                  <label for="itemName" class="form-label">Item name</label>
                  <input type="text" class="form-control" id="itemName">
                </div>

                <label class="form-label">Images</label>
                <div class="custom-file mb-3">
                  <input type="file" class="custom-file-input" id="itemImages">
                  <label class="custom-file-label" for="itemImages">Choose file</label>
                </div>

                <div class="mb-3">
                  <label for="itemDescription" class="form-label">Item description</label>
                  <textarea class="form-control" id="itemDescription"></textarea>
                </div>

                <div class="mb-3">
                  <label for="itemPrice" class="form-label">Item price</label>
                  <input type="text" class="form-control" id="itemPrice">
                </div>

                <button type="submit" class="btn btn-primary">Create</button>

              </form>

            </div> <!-- col-lg-8 -->

            <div class="col-lg-2"></div> <!-- col-lg-2-- -->

          </div> <!-- row -->

        </div> <!-- col-lg-10 -->
  
  
      </div> <!-- row -->

    </div> <!-- container -->

  </div> <!-- wrapper -->

</body>
