<!DOCTYPE html>
<html lang="en">

<!-- including head -->
<%- include("../includes/admin/head"); %>

<body>
  
  <div class="wrapper">

    <div class="container-fluid cntnr-f">

      <div class="row">

        <div class="col-lg-2">
  
          <!-- including sidebar -->
          <%- include("../includes/admin/sidenav"); %>
  
        </div> <!-- col-lg-2 -->
  
        <div class="col-lg-10">

          <div class="title text-center mt-3"> <h1>Product created succsessfully</h1> </div> <!-- div.title -->

          <div class="row">

            <div class="col-lg-2"></div> <!-- col-lg-2-->

            <div class="col-lg-8 mt-5 form-back">

              <a class="btn btn-dark" href="/admin/dashboard" role="button">Admin home</a>
              <a class="btn btn-dark" href="/admin/item-list" role="button">All products</a>

            </div> <!-- col-lg-8 -->

            <div class="col-lg-2"></div> <!-- col-lg-2-- -->

          </div> <!-- row -->

        </div> <!-- col-lg-10 -->
  
  
      </div> <!-- row -->

    </div> <!-- container -->

  </div> <!-- wrapper -->

</body>
