<!DOCTYPE html>
<html lang="en">

<!-- including head -->
<%- include("../includes/admin/head"); %>

<body>
  
  <div class="wrapper">

    <div class="container-fluid cntnr-f">

      <div class="row">

        <div class="col-lg-2">
  
          <!-- including sidebar -->
          <%- include("../includes/admin/sidenav"); %>
  
        </div> <!-- col-lg-2 -->
  
        <div class="col-lg-10">

          <div class="title text-center mt-3"> <h1>Create item</h1> </div> <!-- div.title -->

          <div class="row">

            <div class="col-lg-2"></div> <!-- col-lg-2-->

            <div class="col-lg-8 mt-5 form-back">

              <form method="post" action="create-item">

                <div class="mb-3">
                  <label for="itemName" class="form-label mb-3">Item name</label>
                  <input type="text" name="itemname" class="form-control mrb-5 form-input" id="itemName">
                </div>

                <div class="mb-3">
                  <label for="itemDescription" class="form-label mb-3">Item description</label>
                  <textarea class="form-control form-input mrb-5" name="description" id="itemDescription"></textarea>
                </div>

                <div class="mb-3">
                  <label for="imageURL" class="form-label mb-3">Item image url</label>
                  <input type="text" name="imageURL" class="form-control mrb-5 form-input" id="imageURL">
                </div>

                <div class="mb-3">
                  <label for="itemPrice" class="form-label mb-3">Item price</label>
                  <input type="text" class="form-control mrb-5 form-input" name="price" id="itemPrice">
                </div>

                <button type="submit" class="btn btn-primary mb-3">Create</button>

              </form class="">

              <% if (message.type) { %>
                <div class="text-center text-<%= message.type === 'success' ? 'success' : 'danger' %>">
                  <h3><%= message.body %></h3>
                </div>
              <% } %>

            </div> <!-- col-lg-8 -->

            <div class="col-lg-2"></div> <!-- col-lg-2-- -->

          </div> <!-- row -->

        </div> <!-- col-lg-10 -->
  
  
      </div> <!-- row -->

    </div> <!-- container -->

  </div> <!-- wrapper -->

</body>
