<!DOCTYPE html>
<html lang="en">

  <!-- including head -->
  <%- include("../includes/admin/head"); %>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <!-- including top navbar -->
    <%- include("../includes/admin/topnav"); %>

    <!-- including side navbar -->
    <%- include("../includes/admin/sidenav"); %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-lg-12 text-center">
              <h1 class="m-0">Create new item</h1>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">

        <div class="container-fluid">

          <div class="row">

              <div class="card mr-5 ml-5 p-3 w-100">

                <div class="card-body">

                  <form method="post" action="admin/create-item">

                    <div class="mb-3">
                      <label for="itemName" class="form-label">Item name</label>
                      <input type="text" class="form-control" id="itemName">
                    </div>

                    <label class="form-label">Images</label>
                    <div class="custom-file mb-3">
                      <input type="file" class="custom-file-input" id="itemImages">
                      <label class="custom-file-label" for="itemImages">Choose file</label>
                    </div>

                    <div class="mb-3">
                      <label for="itemDescription" class="form-label">Item description</label>
                      <textarea class="form-control" id="itemDescription"></textarea>
                    </div>

                    <div class="mb-3">
                      <label for="itemPrice" class="form-label">Item price</label>
                      <input type="text" class="form-control" id="itemPrice">
                    </div>

                    <button type="submit" class="btn btn-primary">Create</button>

                  </form>

                </div>

              </div>

          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  <!-- ./wrapper -->

  <!-- including scripts -->
  <%- include("../includes/admin/scripts"); %>

</body>
</html>
