<!DOCTYPE html>
<html lang="en">

<!-- including head -->
<%- include("../includes/admin/head"); %>

<body>
  
  <div class="wrapper">

    <div class="container-fluid cntnr-f">

      <div class="row">

        <div class="col-lg-2">
  
          <!-- including sidebar -->
      <%- include("../includes/admin/sidenav"); %>
  
        </div> <!-- col-lg-2 -->
  
        <div class="col-lg-10"></div> <!-- col-lg-8 -->
  
        <!--<div class="col-lg-2"></div>  col-lg-2 -->
  
      </div> <!-- row -->

    </div> <!-- container -->

  </div> <!-- wrapper -->

</body>
