<nav class="navbar sticky-top navbar-expand-lg navbar-custom">

  <div class="container-fluid">

    <a href="/" class="navbar-brand">
      <img src="/img/genshin-master-logo.png" alt="" class="d-inline-block align-text-top nav-logo">
      <h1 class="nav-text"></h1>
    </a>

  </div>

</nav>