<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-custom">

  <div class="container-fluid">

    <a href="/" class="navbar-brand">
      <img src="/img/genshin-master-logo.png" alt="" class="d-inline-block align-text-top nav-logo">
    </a>

    <h2 class="navbar-brand">GenshinMaster</h2>

    <!-- dark mode switch 
    <div class="form-check form-switch toggle">
      <input class="form-check-input" type="checkbox" role="switch" id="toggleDark">
      <label class="form-check-label" for="toggleDark">Dark mode</label>
    </div>

  </div>

</nav>-->

<nav class="navbar sticky-top navbar-custom">

  <div class="container-fluid nav-fluid">

    <a class="navbar-brand nav-brand-cust" href="#">

      <img src="/img/genshin-master-logo.png" alt="Logo" class="d-inline-block">

      GenshinMaster

    </a>

    <ul class="nav nav-pills">
      <li class="nav-item nav-item-cust">
        <a href="#" class="nav-link nav-ico">

          <img src="/img/icons/acc.png" class="idle-icon" alt="account_icon">
          <img src="/img/icons/hover_active/acc_hover.png" class="hover-icon" alt="account_icon">

        </a>
      </li>

      <li class="nav-item nav-item-cust">
        <a href="#" class="nav-link nav-ico">

          <img src="/img/icons/cart.png" class="idle-icon" alt="account_icon">
          <img src="/img/icons/hover_active/acc_hover.png" class="hover-icon" alt="account_icon">

        </a>
      </li>

      <li class="nav-item nav-item-cust">
        <a href="#" class="nav-link nav-ico">

          <img src="/img/icons/info.png" class="idle-icon" alt="account_icon">
          <img src="/img/icons/hover_active/acc_hover.png" class="hover-icon" alt="account_icon">

        </a>
      </li>

      <li class="nav-item nav-item-cust">
        <a href="#" class="nav-link nav-ico">

          <img src="/img/icons/acc.png" class="idle-icon" alt="account_icon">
          <img src="/img/icons/hover_active/acc_hover.png" class="hover-icon" alt="account_icon">

        </a>
      </li>

    </ul>

  </div>

</nav>
