<nav class="navbar sticky-top navbar-expand-lg navbar-custom">

  <div class="container-fluid">

    <a href="/" class="navbar-brand">
      <img src="/img/genshin-master-logo.png" alt="" class="d-inline-block align-text-top nav-logo">
    </a>

    <!-- dark mode switch -->
    <div class="form-check form-switch toggle">
      <input class="form-check-input" type="checkbox" role="switch" id="toggleDark">
      <label class="form-check-label" for="toggleDark">Dark mode</label>
    </div>

  </div>

</nav>