<nav class="navbar sticky-top navbar-expand-lg navbar-custom">

  <div class="container-fluid">

    <a href="/" class="navbar-brand">
      <img src="" alt="" class="d-inline-block align-text-top">
      GenshinMaster
    </a>

  </div>

</nav>