<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head'); %>
<body>
  <div class="alert alert-danger text-center" role="alert">
    Sorry, we are unable to find the page you are looking for... <br> Try going to the <a href="/">homepage</a>
  </div>

  <img src="/IMG/404.png" class="mx-auto d-block img-fluid" alt="page not found">

  <%- include('includes/scripts'); %>
</body>
</html>