<!doctype html>

<html lang="en">

 <%- include('includes/head'); %>

  <body>

    <%- include('includes/nav'); %>

    <a class="btn btn-primary" href="/register" role="button">Register</a>
    <a class="btn btn-primary" href="/login" role="button">Login</a>
    <a class="btn btn-primary" href="/homepage" role="button">(homepage)</a>
    <a class="btn btn-primary" href="/logout" role="button">logout</a>
    <a class="btn btn-primary" href="/404" role="button">404</a>

    <%- include('includes/scripts'); %>
    
  </body>

</html>