<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head'); %>
<body>
  <div class="alert alert-danger text-center" role="alert">
    Oops, this page is only for our staff <br> Try going to the <a href="/">homepage</a>
  </div>

  <img src="/IMG/no-access.png" class="mx-auto d-block img-fluid" alt="page not found">

  <%- include('includes/scripts'); %>
</body>
</html>