<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head'); %>
<body>
  
  <%- include('includes/nav'); %>

  <div class="container mt-5">

    <h1>Registration</h1>

    <% if (locals.message) { %>
      <div class="alert alert-success" role="alert">
        <%= message %>
      </div>
    <% } %>

    <form method="POST" action="/register">

      <div class="mb-3">
        <label for="name" class="form-label">Name<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" id="name" name="name">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email address<sup class="text-danger">*</sup></label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password<sup class="text-danger">*</sup></label>
        <input type="password" name="password" class="form-control" id="password">
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

  <%- include('includes/scripts'); %>

</body>
</html>