/* sidenav */
.sidenav{
  height: 100%;
  min-height: 100vh;
}

.side-link {
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid;
  border-radius: 5px;
}

.side-link a{
  color: #fff;
}

.side-link:hover {
  background: #fff;
}

.side-link a:hover {
  color: #343a40;
}

.cntnr-f {
  padding-left: 0;
}

.logout {
  margin-left: 25%;
}

.create-item-active {
  border: 1px solid;
  border-radius: 5px;
  border-color: #E5CE96;

  margin-left: 15%;
  margin-right: 15%;
}

.create-item-active a{
  color: #E5CE96;
}

.create-item-active:hover {
  border-color: #fff;
}

.create-item-active a:hover {
  color: #fff;
}