/* root */
body {
  background-color: var(--bg);
}

a {
  cursor: url('/img/cursor/pointer.cur'), auto;
}

html {
  cursor: url('/img/cursor/idle.cur'), auto;
}

/* ======> NAVBAR <====== */
/* bg */
.navbar-custom {
  background-color: var(--nav-bg);
  height: 3em;
}

.nav-fluid {
  background-color: var(--nav-bg);
  height: 3em;
  
}

/* navbar brand */
.nav-brand-cust img{
  width: 1.5em;
}

.nav-brand-cust{
  color: #fff;
  font-family: 'Gabriela';
  font-size: 20px;
}

.nav-brand-cust:hover{
  color: #fff;
}

.nav-brand-cust {
  margin-top: 0em !important;
  margin-bottom: 0.25em !important;
  padding: 0em !important;
}

/* navbar icons */
.nav-item-cust a{
  margin-top: 0em !important;
  margin-bottom: 0.25em !important;
  margin-right: 2em !important;

  padding: 0em !important;
}

.nav-item-cust img{
  width: 2.5em;
  margin-bottom: 0.5em !important;
}

/* icon hovering DO NOT TOUCH PLEASE */
.nav-ico:hover .idle-icon,
.nav-ico .hover-icon {
  display: none;
}

.nav-ico:hover .hover-icon {
  display: inline;
}

/* ======> FOOTER <====== */
footer {
  background-color: var(--nav-bg);
}

.footer-link {
  color: #fff !important;
  font-size: 20px;
}

.footer-link:hover {
  color: #DFC78D !important;
}

.footer-img{
  width: 3.5em;
}







/* radios */
.radio-image {
  width: 15%;
}

/* HIDE RADIO */
[type=radio] { 
  margin-right: 2em;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
   transform: scale(1.15);
}

/* dark mode */
/* light theme colors */
html {
  --bg: #F0EBE5;
  --text: #5C5C5C;
  --yellov: #DFC78D;
  /* nav */
  --nav-bg: #495263;
  --nav-text: #fff;
}
/* dark mode colors */
html[data-theme='dark'] {
  --bg: #3A414F;
  --text: #E4E4E4;
  --yellov: #DFC78D;
  /* nav */
  --nav-bg:#495263 ;
  --nav-text: #fff;

}
/* dark mode switch */
