/* root */
body {
  background-color: var(--bg);
}

h1 {
  color: var(--text);
}

html {
  cursor: url('/img/cursor.png'), auto;	
}

/* navbar */
.navbar-custom {
  background-color: var(--nav-bg);
  height: 4em;
}

.nav-logo {
  width: 2em;
}

/* radios */
.radio-image {
  width: 15%;
}

/* HIDE RADIO */
[type=radio] { 
  margin-right: 2em;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
   transform: scale(1.15);
}

/* dark mode */
/* light theme colors */
html {
  --bg: #F0EBE5;
  --text: #5C5C5C;
  /* nav */
  --nav-bg: #495263;
  --nav-text: #fff;
}
/* dark mode colors */
html[data-theme='dark'] {
  --bg: #3A414F;
  --text: #E4E4E4;
  /* nav */
  --nav-bg:#495263 ;
  --nav-text: #fff;

}
/* dark mode switch */
