<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidenav">

  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

    <span class="fs-4">GenshinMaster</span>

  </a> <!-- a brand -->

  <hr>

  <ul class="nav nav-pills flex-column mb-auto">

    <li class="nav-item side-link">

      <a href="#" class="nav-link <%= message %>" aria-current="page">Create item</a>

    </li>

  </ul> <!-- ul nav pills -->

  <hr>

  <ul class="nav nav-pills flex-column">

    <li class="nav-item d-inline-block d-flex">

      <div class="nav-item side-link"><%= user.username %></div>
      <a href="/auth/logout" class="text-danger text-decoration-none logout">logout</a>

    </li>

  </ul> <!-- ul nav pills -->

</div>
