<div class="d-flex flex-column flex-shrink-0 p-3 text-white sidenav"">

  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

    <span class="fs-4">Sidebar</span>

  </a>

  <hr>

  <h5 class="mb-1 mt-5 ml-0 text-center">Products</h5>
  <hr class="mt-1">

  <ul class="nav nav-pills flex-column mb-auto">

    <li class="nav-item text-center <%= message %>">

      <a href="/admin/create-item" class="nav-link" aria-current="page">Create product</a>

    </li>

  </ul>

  <hr>

  <ul class="nav nav-pills flex-column">

    <li class="nav-item d-inline-block d-flex">

      <div class="nav-item"><%= user.username %></div>
      <a href="/auth/logout" class="text-danger text-decoration-none logout">logout</a>

    </li>

  </ul> <!-- ul nav pills -->

</div>
