    <!-- Main Sidebar Container -->
    <aside class="sidenav">

      <!-- Brand Logo -->
      <a href="/" class="side-link side-brand">
        <span>GenshinMaster</span>
      </a> 

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="info">
            <p> <%= user.username %> </p>
          </div>
        </div>

        <!-- Sidebar Menu -->
        
        <a href="/admin/create-item" class="nav-link <%= message %>">
          <p>Create item</p>
        </a>

        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>